h2 {
    font-size: large;
    text-align: center;
    margin: 50px;
}

.btnVaciarCarrito {
    background-color: white;
    color: rgb(2, 116, 2);
    font-weight: bold;
    border: 1px solid  rgb(2, 116, 2);
    border-radius: 5px;
    padding: 8px;
    margin: 50px;
    font-size: small;
}

.btnCompra {
    border-radius: 8px;
    padding: 7px;
    border: 2px solid rgb(2, 116, 2);
    color: rgb(251, 133, 83);
    font-weight: bold;
    width: 200px;
    text-decoration: none;
}
